/* You can add global styles to this file, and also import other style files */
body{
    background-color: navajowhite; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}