<p>login works!</p>
<div class="login-container">
    <div class="logo">Akshay</div>
    <div clas="desc">"Welcome to the Movie Rating App! This app lets you explore a wide range of movies, from timeless classics to the latest blockbusters. Search for movies by title, genre, or year, and view detailed information such as plot summaries, cast, release dates, and movie posters. Leave your own ratings and reviews to share your thoughts with the community, and see how others rated the movies you've watched. With personalized recommendations based on your ratings and favorites, this app is your perfect movie companion!"

    </div>
</div>