<!-- <button (click)="fun()">click me</button>
<div [ngClass]="isLight ? 'light' : 'dark'">
  <h1>Hello world</h1>
</div>
<div [ngClass]="isLight ? 'show' : 'hide'">
  <h1>Hello 2</h1>
</div>
<div [ngStyle]="{display:isLight?'block':'none'}">
  <h1>Hello abc</h1>
</div> -->

<h1>My name is {{name}}</h1>
<h1>My name is {{name | uppercase}}</h1>
<h1>The apple costs {{price | currency : "INR"}}</h1>
<h1>Today date is {{dt | date:'dd/mm/yy'}}</h1>
<h1>{{obj | json}}</h1>
<!-- {minIntegersDigits}.{minFractionDigits}.{maxFractionDigits} -->
<h1>{{value | number:'2.0-2'}}</h1>
<h1>{{str | akshay}}</h1>